# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Infostrux-Solutions/open-source-maintainers will be requested
# for review when someone opens a pull request.
*       @Infostrux-Solutions/open-source-maintainers
